<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="factor.labs.indiancalendar" >

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DayOnMonthHomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DayOnActivities.DayOnYearViewActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".DayOnActivities.DayOnPreferenceActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".DayOnActivities.DayOnScheduleViewActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".DayOnActivities.CalendarReligiousViewActivity"
            android:label="@string/app_name" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name=".CalendarServices.DayOnBroadCastReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Widget.MonthGridWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/calendar_widget_info" />
        </receiver>

        <receiver android:name=".Widget.EventsListWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mon_eve_list_widget_info" />
        </receiver>

        <service
            android:name=".Widget.MonthEventsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".Widget.MonthDateWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".Widget.MonthDateEventsFetchService" />
        <service android:name=".Widget.MonthsEventsFetchService" />
        <service android:name=".CalendarServices.DayOnAndroidService" android:enabled="true" android:exported="true" />
    </application>

</manifest>
